@import url('https://fonts.googleapis.com/css?family=Righteous');
*{
	font-family: Righteous, Concert One;
}
html{
	scroll-behavior: smooth;
}
body{
	
}

.navbar{
	background: black;
	border: none;
	border-radius: 0px;
	margin-bottom: 10px;
}

.page-header{
	margin-top: 0px;
}

.navbar-brand{
	margin: 5px 0px;
	font-size: 30px;
}

.nav li a{
	color: #f2f2f2;
	text-decoration: none;
	font-size: 17px;
	font-weight: 500;
	padding: 10px 10px;
	margin: 10px 5px;
	border-radius: 9px;
	letter-spacing: 1px;
	transition: all 0.3s ease;
}

.nav li a:hover{
	font-size: 25px;
}

#bs-example-navbar-collapse-1 ul li a:hover{
	color: #111;
	background: #fff;
}

#roles{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	text-align: left;
	font-size: 17px;
}